= simple_form_for @user, :url => url, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } do |f|                                                                                                                          
  = f.error_notification
  = f.input :name, placeholder: 'Name'
  = f.input :display_name, placeholder: 'Display Name'
  = f.input :email, placeholder: 'Email'
  - if @user.new_record?
    = f.input :password, placeholder: 'Password'
  = f.input :meeting_target, as: :string
  = f.input :order_target, as: :string
  .col-sm-offset-3
    = f.button :submit, class: 'btn btn-primary'
    = link_to "Cancel", territory_users_path(@user.territory), {class: 'btn btn-warning'}
