.row
  %h2 Users List
.row.margin-top
  .panel.panel-primary
    .panel-heading
      Users
    .panel-body
      .row
        - if is_admin?
          = link_to 'Add User', new_user_path, :class => 'btn btn-success pull-right margin-bottom margin-right'
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th #
              %th List/Rep
              %th Hot
              %th Warm
              %th Cold
              %th Potential Order Book
              %th Order Confirmed
              - if is_admin?
                %th Action
          %tbody
            - @users.each.with_index do |user, index|
              %tr
                %td= index + 1
                %td
                  = link_to user.name_displayed, user_contacts_path(user)
                %td= user.meeting_done('Hot')
                %td= user.meeting_done('Warm')
                %td= user.meeting_done('Cold')
                %td= number_to_currency(user.potential_order)
                %td= number_to_currency(user.orders_confirmed)
                - if is_admin?
                  %td
                    = link_to 'Edit', edit_user_path(user), class: "btn btn-danger btn-xs"
            %tr
              %td
              %td Total
              %td= @users.inject(0){ |sum, u| sum + u.meeting_done('Hot') }
              %td= @users.inject(0){ |sum, u| sum + u.meeting_done('Warm') }
              %td= @users.inject(0){ |sum, u| sum + u.meeting_done('Cold') }
              %td= number_to_currency(@users.inject(0){ |sum, u| sum + u.potential_order})
              %td= number_to_currency(@users.inject(0){ |sum, u| sum + u.orders_confirmed})
              - if is_admin?
                %td
