.row
  %h2 Users List
.row.margin-top
  .panel.panel-primary
    .panel-heading
      Users
    .panel-body
      .row
        - if is_admin?
          = link_to 'Add User', new_user_path, :class => 'btn btn-success pull-right margin-bottom margin-right'
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th #
              %th List/Rep
              %th Meetings Done
              %th Meetings Target
              %th Efforts(%)
              %th Order Booked
              %th Order Target
              %th Performance(%)
              - if is_admin?
                %th Action
          %tbody
            - @users.each.with_index do |user, index|
              %tr
                %td= index + 1
                %td
                  = link_to user.name_displayed, user_contacts_path(user)
                %td= user.meeting_done
                %td= user.meeting_target
                %td= percentage(user.meeting_done, user.meeting_target)
                %td= number_to_currency(user.orders_booked)
                %td= number_to_currency(user.order_target)
                %td= percentage(user.orders_booked, user.order_target)
                - if is_admin?
                  %td
                    = link_to 'Edit', edit_user_path(user), class: "btn btn-danger btn-xs"
            %tr
              %td
              %td Total
              %td= @users.inject(0){ |sum, u| sum + u.meeting_done}
              %td= @users.sum(:meeting_target)
              %td= percentage(@users.inject(0){ |sum, u| sum + u.meeting_done}, @users.sum(:meeting_target))
              %td= number_to_currency(@users.inject(0){ |sum, u| sum + u.orders_booked})
              %td= number_to_currency(@users.sum(:order_target))
              %td= percentage(@users.inject(0){ |sum, u| sum + u.orders_booked}, @users.sum(:order_target))
              - if is_admin?
                %td
