.row
  %h2 User: #{@user.name_displayed}
.row.margin-top
  .panel.panel-primary
    .panel-heading
      Contacts
    .panel-body
      .row
        = link_to 'Back', root_path, :class => 'btn btn-info pull-left margin-bottom margin-left' 
        - if is_admin? || @user.id == current_user.id
          = link_to 'Add New Contact', new_user_contact_path(@user), :class => 'btn btn-success pull-right margin-bottom margin-right'
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th #
              %th Contact
              %th Institute
              %th Meeting Done
              %th Meeting Date
              %th Potential Order Book
              %th Order Confirmed
              - if is_admin? || @user.id == current_user.id
                %th Action
          %tbody
            - @contacts.each.with_index do |contact, index|
              %tr
                %td{:bgcolor => status_color(contact.status)}= index + 1
                %td= contact.name
                %td= contact.institute
                %td= contact.meeting_done ? 'Yes' : 'No'
                %td= contact.meeting_date
                %td= number_to_currency(contact.potential_order_book)
                %td= number_to_currency(contact.order_confirmed)
                - if is_admin? || @user.id == current_user.id
                  %td
                    = link_to 'Edit', edit_contact_path(contact), class: "btn btn-danger btn-xs"
