.row.margin-top
  .panel.panel-primary
    .panel-heading
      Territories
    .panel-body
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th #
              %th Territory
              %th Order Booked
              %th Order Target
              %th Performance(%)
          %tbody
            -@territories.each.with_index do |territory, index|
              %tr
                %td= index+1
                %td
                  = link_to territory.name, territory_users_path(territory)
                %td= number_to_currency(territory.orders_booked)
                %td= number_to_currency(territory.order_target)
                %td= percentage(territory.orders_booked, territory.order_target)
            %tr
              %td
              %td Total
              %td= number_to_currency(Territory.total_order_booked)
              %td= number_to_currency(Territory.total_order_target)
              %td= percentage(Territory.total_order_booked, Territory.total_order_target)
